.head{
  width: 200px;
  height: 200px;
  background-color: red;
  overflow: hidden;
  z-index: 10;
}
.head img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 10;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: green;
  position: fixed;
  right: 0;
  bottom: 0;
}
.start {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 300px;
  height: 300px;
}

table{
  width: 100%;
  box-sizing: border-box;
  border-collapse: collapse;
}
td{
  border: 1px solid red;
}
thead{
  text-transform: uppercase;
  font-weight: 700;
}